html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.history {
    width: 50%;
    height: 60%;
    border: 1px solid red;
}
.center-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 13;
}
.right-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 2;
}
.deck {
    width: 50%;
    height: 30%;
    border: 1px solid red;
}
.turn_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 10%;
}
.turn_button BUTTON {
    width: 80%;
    height: 40px;
    cursor: pointer;
}
.table-line {
    height: 3px;
    background: #cecece;
}

.player-table {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-content: center;
    height: 49%;
}
.player-table.active {
    background: #eee;
}
.hand-line {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    height: 33.33%;
}
.hand-line > .card-line {
    height: 100%;
}
.hero-line {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 33.33%;
}
.card-line {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    height: 33.33%;
}
.card {
    position: relative;
    margin: 0 10px;
    cursor: pointer;
    height: 90%;
}
.card img{
    height: 100%;
}
.card.active {
    opacity: 0.7;
    box-shadow: 0 0 10px green;
}
.card:hover {
    opacity: 0.8;
}
.hero {
    position: relative;
    margin: 0 2%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}
.hero:hover {
    opacity: 0.7;
}
.hero > img {
    height: 100%;
}
.hero-ability {
    border: 1px solid pink;
    margin: 0 2%;
    width: 10%;
}
.stats {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
}
.attack, .hp {
    color: #fff;
    font-size: 1.2vw;
    text-shadow: rgb(0 0 0) 1px 0px 0px, rgb(0 0 0) 0.75517px 0.958851px 0px, rgb(0 0 0) 0.0806px 1.68294px 0px, rgb(0 0 0) 0.141474px 1.99499px 0px, rgb(0 0 0) -0.832294px 1.81859px 0px, rgb(0 0 0) -1.60229px 1.19694px 0px, rgb(0 0 0) -1.97998px 0.28224px 0px, rgb(0 0 0) -1.87291px -0.701566px 0px, rgb(0 0 0) -1.30729px -1.5136px 0px, rgb(0 0 0) -0.421592px -1.95506px 0px, rgb(0 0 0) 0.567324px -1.91785px 0px, rgb(0 0 0) 1.41734px -1.41108px 0px, rgb(0 0 0) 1.92034px -0.558831px 0px;
}


.herohp{
    position: absolute;
    right: 5%;
    bottom: 24%;
    font-size: 1.2vw;
    color: white;
    text-shadow: rgb(0 0 0) 1px 0px 0px, rgb(0 0 0) 0.75517px 0.958851px 0px, rgb(0 0 0) 0.0806px 1.68294px 0px, rgb(0 0 0) 0.141474px 1.99499px 0px, rgb(0 0 0) -0.832294px 1.81859px 0px, rgb(0 0 0) -1.60229px 1.19694px 0px, rgb(0 0 0) -1.97998px 0.28224px 0px, rgb(0 0 0) -1.87291px -0.701566px 0px, rgb(0 0 0) -1.30729px -1.5136px 0px, rgb(0 0 0) -0.421592px -1.95506px 0px, rgb(0 0 0) 0.567324px -1.91785px 0px, rgb(0 0 0) 1.41734px -1.41108px 0px, rgb(0 0 0) 1.92034px -0.558831px 0px;
}